


<section>
    <h1>PORTFOLIO COMPONENT</h1>
    <div class="star">
     <div class="start"></div>
     <div class="icon"><i _ngcontent-sib-c6="" class="fa-solid fa-star"></i></div>
     <div class="end"></div>
    </div>
<div class="container">
   <div class="row g-5">
    <div class="col-md-4">
        <div class="layer">
            <div class="layer-item">
                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
<img src="assets/image/poert1.png" class="w-100" alt="">

        </div>
    </div>
    <div class="col-md-4">
        <div class="layer">
            <div class="layer-item">
                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
            <img src="assets/image/port2.png" class="w-100" alt="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="layer">
            <div class="layer-item">
                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
            <img src="assets/image/port3.png" class="w-100" alt="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="layer">
            <div class="layer-item">
                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
            <img src="assets/image/poert1.png" class="w-100" alt="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="layer">
            <div class="layer-item">
                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
            <img src="assets/image/port2.png" class="w-100" alt="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="layer">
            <div class="layer-item">
                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
            <img src="assets/image/port3.png" class="w-100" alt="">
        </div>
    </div>
   </div>
</div>
</section>


<div id="boxcontainer">
    <div id="boxitem"></div>



</div>


